@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5%;
  margin: 0 -15px -30px;
}

.col {
  width: calc(100% / 3);
  padding: 0 15px 30px;
}