.input {
    background: #F8F8F8;
    border-radius: 16px;
    font-weight: 600;
    font-size: 18px;
    color: #333333;
    height: 56px;
    line-height: 56px;
    border: none;
    padding: 0 20px;
    width: 100%;
    display: block;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #C2C2C2;
}

.form {
    position: relative;
    display: block;
}